In [1]:
import pandas as pd
import json

In [2]:
file = "triage_levels.csv"
import_df = pd.read_csv(file, index_col=False)
import_df.head(5)

,xray_number,image_index,patient_id,age,gender,view_position,highest_class,highest_label
0,1,00000001_000.png,1,58,M,PA,2,Acute
1,2,00000001_001.png,1,58,M,PA,2,Acute
2,3,00000001_002.png,1,58,M,PA,3,Emergent
3,4,00000002_000.png,2,81,M,PA,0,No Finding
4,5,00000003_000.png,3,81,F,PA,1,Chronic

In [3]:
import_df.columns

Index(['xray_number', 'image_index', 'patient_id', 'age', 'gender',
       'view_position', 'highest_class', 'highest_label'],
      dtype='object')

In [11]:
xray_number = import_df['xray_number']
image_index = import_df['image_index']
patient_id = import_df['patient_id']
age = import_df['age']
gender = import_df['gender']
view_position = import_df['view_position']
highest_class = import_df['highest_class']
highest_label = import_df['highest_label']

In [23]:
df_to_json = pd.DataFrame({
    'index': xray_number,
    'xray_number': xray_number,
    'image_index': image_index,
    'patient_id': patient_id, 
    'age': age, 
    'view_position': view_position,
    'highest_class': highest_class,
    'highest_label': highest_label
}).set_index('index')

In [24]:
df_to_json.head(5)

,xray_number,image_index,patient_id,age,view_position,highest_class,highest_label
index,,,,,,,
1,1,00000001_000.png,1,58,PA,2,Acute
2,2,00000001_001.png,1,58,PA,2,Acute
3,3,00000001_002.png,1,58,PA,3,Emergent
4,4,00000002_000.png,2,81,PA,0,No Finding
5,5,00000003_000.png,3,81,PA,1,Chronic

In [25]:
test_df = df_to_json.head()
test_df

,xray_number,image_index,patient_id,age,view_position,highest_class,highest_label
index,,,,,,,
1,1,00000001_000.png,1,58,PA,2,Acute
2,2,00000001_001.png,1,58,PA,2,Acute
3,3,00000001_002.png,1,58,PA,3,Emergent
4,4,00000002_000.png,2,81,PA,0,No Finding
5,5,00000003_000.png,3,81,PA,1,Chronic

In [27]:
result_test = test_df.to_json(orient='split')
parsed = json.loads(result_test)
json.dumps(parsed)

'{"columns": ["xray_number", "image_index", "patient_id", "age", "view_position", "highest_class", "highest_label"], "index": [1, 2, 3, 4, 5], "data": [[1, "00000001_000.png", 1, 58, "PA", 2, "Acute"], [2, "00000001_001.png", 1, 58, "PA", 2, "Acute"], [3, "00000001_002.png", 1, 58, "PA", 3, "Emergent"], [4, "00000002_000.png", 2, 81, "PA", 0, "No Finding"], [5, "00000003_000.png", 3, 81, "PA", 1, "Chronic"]]}'

In [32]:
test_df.to_json(r'json_test3.json', orient='split', indent=4)

In [33]:
df_to_json.to_json(r'index_by_number.json', orient='split', indent=4)